:root {
    --navbar-bg-color: #262626;
    --navbar-text-color: hsl(0, 0%, 85%);
    --navbar-text-color-focus: white;
    --navbar-bg-contrast: #404040;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #e6e6fa5f !important;
}

.container {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

/* Prelaoder */
#preloader {
	position: fixed;
	left: 0;
	/* Le puse top 0 para que se quede hasta arriba*/
    top: 0;
	z-index: 999;
	width: 100%;
	height: 100%;
	overflow: visible;
	background: #ffffff  url("../../img/inicio/preload/preload.svg") no-repeat center center;
  }

#navbar {
    --navbar-height: 64px;
    position: fixed;
    top: 0px;
    height: var(--navbar-height);
    background-color: var(--navbar-bg-color);
    left: 0;
    right: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    z-index: 998;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.navbar-item {
    margin: 0.4em;
    width: 100%;
}

.home-link,
.navbar-link {
    color: #fff;
    transition: color 0.2s ease-in-out;
    text-decoration: none;
    display: flex;
    font-weight: 400;
    align-items: center;
    transition: background-color 0.2s ease-in-out,
                color 0.2s ease-in-out;

    font-family: 'Pacifico', cursive;
    font-size: 1.5rem;
}

.home-link:focus,
.home-link:hover {
    color: var(--navbar-text-color-focus);
    text-decoration: none;
}

.navbar-link {
    justify-content: center;
    width: 100%;
    padding: 0.4em 0.8em;
    border-radius: 5px;
    transition: .1s ease;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    
}

.navbar-link:focus,
.navbar-link:hover {
    color: #11bbee;
    transform: scale(1.05);
    transition: .1s ease;
    background-color: var(--navbar-bg-contrast);
    text-decoration: none;
}

/*
.navbar-logo {
    background-color: var(--navbar-text-color-focus);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 0.5em;
}*/

.logo {
	width: 50px;
	height: 50px;
}

.navbar-toggle {
    cursor: pointer;
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.icon-bar {
    display: block;
    width: 25px;
    height: 4px;
    margin: 2px;
    transition: background-color 0.2s ease-in-out,
                transform 0.2s ease-in-out,
                opacity 0.2s ease-in-out;
    background-color: #fff;
}

.navbar-toggle:focus .icon-bar,
.navbar-toggle:hover .icon-bar {
    background-color: var(--navbar-text-color-focus);
}

#navbar.opened .navbar-toggle .icon-bar:first-child,
#navbar.opened .navbar-toggle .icon-bar:last-child {
    position: absolute;
    margin: 0;
    width: 30px;
}

#navbar.opened .navbar-toggle .icon-bar:first-child {
    transform: rotate(45deg);
}

#navbar.opened .navbar-toggle .icon-bar:nth-child(2) {
    opacity: 0;
}

#navbar.opened .navbar-toggle .icon-bar:last-child {
    transform: rotate(-45deg);
}

.navbar-menu {
    position: fixed;
    top: var(--navbar-height);
    bottom: 0;
    transition: opacity 0.2s ease-in-out,
                visibility 0.2s ease-in-out;
    opacity: 0;
    visibility: hidden;
    left: 0;
    right: 0;
}

#navbar.opened .navbar-menu {
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 1;
    visibility: visible;
}

.navbar-links {
    list-style-type: none;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    background-color: var(--navbar-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
    right: 0;
    margin: 1.4rem;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.navbar-links a{
    border-bottom: 1px solid rgba(255, 255, 255, 0.151);
    border-radius: 0;
}

#navbar.opened .navbar-links {
    /* aqui esta el margen del menu responsive*/
    padding: 1em;
    max-height: none;
}

@media screen and (min-width: 770px) {
    .navbar-toggle {
        display: none;
    }
    .navbar-links a{
        border-bottom: 0px solid #fff;
        border-radius: 5px;
    }
    
    #navbar .navbar-menu,
    #navbar.opened .navbar-menu {
        visibility: visible;
        opacity: 1;
        position: static;
        display: block;
        height: 100%;
    }

    #navbar .navbar-links,
    #navbar.opened .navbar-links {
        margin: 0;
        padding: 0;
        box-shadow: none;
        position: static;
        flex-direction: row;
        list-style-type: none;
        max-height: max-content;
        width: 100%;
        height: 100%;

    }

    #navbar .navbar-link:last-child {
        margin-right: 0;
        /*Agregue el max-content para alinear los elementos al mismo nivel*/
        width: max-content;
    }
}



/******* SLIDER *********/

/*Tuve que agregar un div y ponerle altura para que se ajustara*/
.container-slider{
   height: 530px;
}

@media only screen and (max-width: 767px) {
    .container-slider{
        height: 350px;
     }
}

.slider {
    margin: 0 auto;
    max-width: 1200px;
    width: 95%;
    margin-top: 80px;
  }
  
  .slide_viewer {
    height: 500px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
  }
  
  .slide_group {
    height: 100%;
    position: relative;
    width: 100%;
  }
  
  .slide {
    display: none;
    height: 100%;
    position: absolute;
    width: 100%;

  }
  
  .slide:first-child {
    display: block;
  }
  
  .slide:nth-of-type(1) {
    background: linear-gradient(to bottom, #04c4ff81 , #830c9662),  url("../img/inicio/slider/01.jpeg") no-repeat center center;
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center;
  }
  
  .slide:nth-of-type(2) {
    background: linear-gradient(to bottom, #04c4ffb4 , #830c9662),   url("../img/inicio/slider/02.jpeg") no-repeat center center;
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center;
  }
  
  .slide:nth-of-type(3) {
    background: linear-gradient(to bottom, #04c4ffb4 , #830c9662),  url("../img/inicio/slider/03.jpeg") no-repeat center center;
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center;
  }
  
  .slide:nth-of-type(4) {
    background: linear-gradient(to bottom, #04c4ffb4 , #830c9662),  url("../img/inicio/slider/04.jpeg") no-repeat center center;
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center;
  }

  .slide:nth-of-type(5) {
    background: #1f2029  url("../img/inicio/slider/04.jpeg") no-repeat center center;
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center;
  }
  
  .slide_buttons {
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    /*Agregue el display none para quitar los puntos*/
    display: none;
  }
  
  a.slide_btn {
    color: #474544 !important;
    font-size: 42px;
    margin: 0 0.175em;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  
  .slide_btn.active, .slide_btn:hover {
    color: #08c1ce !important;
    cursor: pointer;
  }
  
  .directional_nav {
    height: 340px;
    margin: 0 auto;
    max-width: 1200px;
    position: relative;
    top: -450px;
    z-index: 97;
  }
  
  .previous_btn {
    bottom: 0;
    left: 7%;
    margin: auto;
    position: absolute;
    top: 0;
  }
  
  .next_btn {
    bottom: 0;
    margin: auto;
    position: absolute;
    right: 7%;
    top: 0;
  }
  
  .previous_btn, .next_btn {
    cursor: pointer;
    height: 65px;
    opacity: 0.5;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    width: 65px;
  }
  
  .previous_btn:hover, .next_btn:hover {
    opacity: 1;
  }
  
  @media only screen and (max-width: 767px) {
    .slide_viewer {
        height: 320px;
        overflow: hidden;
        position: relative;
        border-radius: 10px;
      }

      .directional_nav {
        height: 340px;
        margin: 0 auto;
        max-width: 940px;
        position: relative;
        top: -350px;
      }
      
    .previous_btn {
      left: 3%;
    }
    .next_btn {
      right: 0%;
    }
     
  .slide_buttons {
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    display: none;
  }
  }

  /*texto slider*/

  .text{
    left: 15%;
    top: 25%;
  position: absolute;
  z-index: 98;

}

.text h2
{
  font-size: 4em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.text h3
{
  font-size: 2em;
  font-weight: 700;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.text p
{
  font-size: 1.5em;
  color: #fff;
  margin: 15px 0;
  font-weight: 400;
  max-width: 700px;
}
.text a
{
  display: inline-block;
  font-size: 1em;
  background: #0579c7;
  padding: 5px 10px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #fff;
  letter-spacing: 2px;
  transition: 0.2s;
  border-radius: 4px;
}
.text a:hover
{
  letter-spacing: 6px;
}

@media only screen and (max-width: 767px){
  .text{
    left: 15%;
    top: 25%;
  position: absolute;
  z-index: 98;

}

.text h2
{
  font-size: 2em;

}
.text h3
{
  font-size: 1em;

}
.text p
{
  font-size: 1.1em;

}
.text a
{

  font-size: 1em;

}
.text a:hover
{
  letter-spacing: 6px;
}
} 


/*** SPONSOSRS ***/

section.sponsors .list .imgsponsor, section.sponsors .list, section.sponsors {
  display: flex;
  justify-content: center;
  align-items: center;
}

section.sponsors {
  /* Agregue el margin top*/
  margin-top: 0rem;
  background-color: #E6E6E6;
  height: 30px;
}
section.sponsors .list {
  flex-direction: row;
  min-width: 844px;
  justify-content: space-around;
}
section.sponsors .list .imgsponsor {
  width: auto;
  height: 50px;
  overflow: hidden;
}
section.sponsors .list img {
  height: 100%;
  opacity: 0.3;
}
section.sponsors .list img.skype {
  height: 220% !important;
}


@media (max-width: 881px) {

  section.sponsors {
    /* Agregue el margin top*/
    margin-top: 0rem;
    background-color: #E6E6E6;
    height: 0px;
    padding: 50px;
  }

  section.sponsors .list {
    flex-direction: row;
    min-width: 350px;
    justify-content: space-around;
  }
  section.sponsors .list .imgsponsor {
    width: auto;
    height: 40px;
    overflow: hidden;
  }
  section.sponsors .list img {
    height: 100%;
    opacity: 0.3;
  }
}
section.sponsors img {
  max-width: 100%;
  height: auto;
}
/*** TERMINAN SPONSOSRS ***/

/*******  TERMINA SLIDER ******/

/*** CARDS *****/

/* Home cards */

  
/*** TERMINAN CARDS ***/
  

/**** CARDS ****/


/**** TERMINAN CARDS ****/





/**** TEXTO E IMAGENES ****/

  /* Inicio */
    /*   */
.container-info{
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
}

@media only screen and (max-width: 840px) {
  .container-info{
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
  }
}
 
section{
  /* aqui cambiamos el top eran 3.9*/
  padding: 2rem 0;
  /*aqui cambiamos el color de las letras en esta section*/
  color: #ffffff;
  /*background-color: #0579c72a;*/
}

.container-info img{
      width: 100%;
      max-width: 100%;
      border-radius: 10px;
      transition: all 0.5s ease 0s;
    }
  

    .sub-headline{
      font-size: 2rem;
      color: #3f3f3f;
      font-weight: 700;
      font-style: italic;
      /*font-weight: 100x;*/
      line-height: 1;
      /*letter-spacing: 2px;*/
      opacity: 0;
      animation: fadeUp .9s forwards;
      animation-delay: 1.2s;
    }


    .headline{
      color: #0000000e;
      font-size: 9rem;
      font-weight: 900;
      font-family: Arial, Helvetica, sans-serif;
      /*font-weight: 900;*/
      /*letter-spacing: .3rem;*/
      /*margin-right: -.5rem;*/
      margin-top: -110px;
      /* agregue este */
      /*margin-bottom: 10%;*/
      /*animation: scale 1.9s forwards;*/
      animation: fadeDown 1.9s forwards;
      margin-bottom: -30px;
      
    }


  
    .separator{
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .line{
      width: 100%;
      max-width: 8.4rem;
      height: .25rem;
      background-color: #ffffff;
      position: relative;
      border-radius: 10px;
      opacity: 0;
      animation: grow 2s forwards;
      animation-delay: 1.2s;
    }
  




 /* Botonoes */

  
  /* Discover you Story*/
  
  .global-headline{
    text-align: center;
    margin-top: 1rem;
  }
  
  .discover-our-story .global-headline{
    margin-top: 2rem;
  }
  
  .global-headline .asterisk{
    margin: .5rem 0;
  }
  
  /*.headline-dark{
    letter-spacing: .7rem;
  }*/
  
  .global-headline .sub-headline{
    letter-spacing: -1px;
    /* aqui se cambia la separacion de las letras */
    line-height: 1;
  }
  
  .restaurant-info{
    text-align: left;
  }
  
  .restaurant-description{
    margin-bottom: 2rem;
  }
  
  .restaurant-description p{
    line-height: 1.6;
    margin-bottom: 2rem;
    color: #111;
  }
  

  
  /* Tasteful recipes*/
  
  .tasteful-recipes{
    background: url("../img/inicio/banner-1.png") center no-repeat;
    background-size: cover;
  }
  
  
  .between{
    min-height: 35vh;
    display: flex;
    align-items: center;
  }
  
  /* Discover your menu */
  
  .image-group{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Con esto separo a las imagenes */
    grid-gap: 1.5rem;
  }
  
  .image-group img{
    box-shadow: 0px 2px 14px -2px #00000057;
    transition: .5s ease;

  }
  .image-group img:hover{
    transform: scale(1.03);

  }
  
  .discover-our-menu .restaurant-description{
    /*padding-top: 3rem;*/
    margin-bottom: 0;
  }
  
  /* The perfect blend */
  
  .perfect-blend{
    background: url("../img/inicio/banner-1.png") center no-repeat;
    background-size: cover;
    /*margin-bottom: 3rem;*/
  }
  
  /* *** Footer coming soon *** */
  
  
  /* *** *** */
  
  
  /* Media Queries 1:54:02s */
  
  @media screen and (min-width: 800px){
    section{
      padding: 2rem;
    }
    
  
    .sub-headline{
      font-size: 2rem;
    }

    .sub-headline1{
      font-size: 2rem;
    }
  
    .first-letter{
      font-size: 2rem;
    }

  
  
    .line{
      max-width: 10rem;
    }
  
    .restaurant-info{
      display: flex;
      align-items: center;
    }
  
    .restaurant-info > div {
      flex: 1;
    }
  
    .padding-right{
      padding-right: 7rem;
    }

  }
  
  /* Animations */
  
  @keyframes fadeUp {
    0%{
      transform: translateY(4rem);
    }
    100%{
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes scale {
    0%{
      transform: scale(1.3);
    }
    100%{
      opacity: 1;
      transform: scale(1);
    }
  }
  
  @keyframes grow {
    0%{
      width: 0;
    }
    100%{
      opacity: 1;
      width: 100%;
    }
  }
  
  @keyframes spin {
    0%{
      transform: rotate(0);
    }
    100%{
      opacity: 1;
      transform: rotate(-360deg);
    }
  }
  
  @keyframes fadeDown {
    0%{
      transform: translateY(-1rem);
    }
    100%{
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* esta va en el footer 
  @keyframes up {
    0%{
      opacity: 0;
    }
    50%{
      opacity: 1;
    }
    100%{
      opacity: 0;
      transform: translateY(-1rem);
    }
  }
  /*

/* */
/**** TERMINAN TEXTO E IMAGENES ***/


/*** BACK TO TOP ***/

/* BACK TO TOP BUTTON*/



/*** TERMINA BACK TO TOP ***/


/**** FOOTER ****/
footer {
	text-align: center;
	background: #222;
	color: #eee;
	padding: 5px;
    /* Agregue esto
    position:absolute;*/
    width: 100%;
    bottom:0px;
    /**/
    z-index: 99;
}

footer .myrow,
footer .mycol {
    margin-top: 1rem;
	margin-bottom: 1rem;
}

footer a {
	display: inline-block;
	padding-right: 10px;
	color: #eee;
	transition: all 0.35s;
    text-decoration: none;
    padding: 10px;
}

footer a:hover {
	transform: scale(1.05);
	color: #098eb6;
}

footer p {
  border-top: 2px solid #ffffff0e;
	font-size: .9rem;
	color: #fff;
	/*text-transform: uppercase;*/
width: 30%;
margin: 0 auto;
padding: 10px;
}

@media only screen and (max-width: 840px) {
  footer p {
    border-top: 2px solid #ffffff0e;
    font-size: .9rem;
    color: #fff;
    /*text-transform: uppercase;*/
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  }
}

footer .svg-inline--fa {
	font-size: 1em;
}

footer i{
    font-size: 1.5rem;
}

.fa-copyright, .fa-smile{
    font-size: .8rem;
}
/*** TERMINA FOOTER ****/





/*TEXTO */




/**** BOTONES ****/


  /**** BOTONES ***/
  .button {
    padding: 12px 30px;
    text-decoration: none;
    font-size: 0.8rem;
    margin: 15px 0px;
    border-radius: 50px;
    color: #f4f4f4;
    transition: all 0.3s ease 0s;
    font-weight: 500;
    }
  
    @media (max-width: 767px){
    .button {
      padding: 1rem 2rem;
      text-decoration: none;
      font-size: 0.7rem;
      margin: 0;
      border-radius: 50px;
      color: #f4f4f4;
      transition: all 0.3s ease 0s;
      font-weight: 500;
      }
  }

  .text2{
    font-size: 1.2rem;
  }
    
    .button:hover {
    transform: scale(1.2);
    color: #e4e4e4;
    text-decoration: none;
    }
    
    .button1 {
    background-color: #00cc99;
    /*box-shadow: 0 0 10px 0 #00cc99 inset, 0 0 20px 2px #00cc99;*/
    }
    
    .button2 {
    background-color: #ff007c;
    box-shadow: 0 0 10px 0 #ff007c inset, 0 0 20px 2px #ff007c;
    }
    
    .button3 {
    background-color: #ffae42;
    box-shadow: 0 0 10px 0 #ffae42 inset, 0 0 20px 2px #ffae42;
    }
    /**** TERMINAN BOTONES ***/
/*** TERMINAN LOS BOTONES ***/