
/* Helper Classes */
.absolute-center {
  position: absolute;
  top: 55%;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  display: table;
  width: 100%;
}

.absolute-center h1{
    font-size: 2rem;
}
.absolute-center h4{
    font-size: 1rem;
}

.relative {
  position: relative;
}

.mx0 {
  margin-left: 0;
  margin-right: 0;
}

.mxauto {
  margin-left: auto;
  margin-right: auto;
}

.white {
  color: white;
}

.center {
  text-align: center;
}

.dark-overlay:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #0088ff2f;
}

.full-width {
  width: 100%;
}

.section {
  padding-top: 30px;
  padding-bottom: 30px;
}
@media only screen and (min-width: 768px) {
  .section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media only screen and (min-width: 1024px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.lg-wrap {
  max-width: 1024px;
  padding-left: 15px;
  padding-right: 15px;
}
@media only screen and (min-width: 768px) {
  .lg-wrap {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media only screen and (min-width: 1024px) {
  .lg-wrap {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* Slider */
/*div*/
.slider-container {
  position: relative;
  background: center center/cover no-repeat;
  background-color: rgba(0, 0, 0, 0.95);
  background-image: url("../img/adopta/slider01.jpeg");
  width: 100%;
  height: 60%;
  /* Aqui cambiamos el alto del slider*/
  min-height: 40vh;
  max-height: 620px;
  overflow: hidden;
  /*border-radius: 0 0 250% 250%/0 0 100% 100%;*/
}

/* Slides, General */
/*figure*/
.slide-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  opacity: 0;
  /* Animation */
  -webkit-animation: slideFadeAndKenBurns 34s linear infinite;
          animation: slideFadeAndKenBurns 34s linear infinite;
  /* Background Image */
  background: transparent center center/cover no-repeat;
}

/* Slides, Individual */
/*figure*/
.slide-1 {
  opacity: 1;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
          background-image: linear-gradient(to bottom, #04c4ff81 , #830c9662), url("../img/slider/slider02.jpeg");
}

/*figure*/
.slide-2 {
  -webkit-animation-delay: 8.5s;
          animation-delay: 8.5s;
          background-image: linear-gradient(to bottom, #04c4ff81 , #830c9662), url("../img/slider/slider01.jpeg");
}

/*figure*/
.slide-3 {
  -webkit-animation-delay: 17s;
          animation-delay: 17s;
          background-image: linear-gradient(to bottom, #04c4ff81 , #830c9662), url("../img/slider/slider02.jpeg");
}

/*figure*/
.slide-4 {
  -webkit-animation-delay: 25.5s;
          animation-delay: 25.5s;
          background-image: linear-gradient(to bottom, #04c4ff81 , #830c9662), url("../img/adopta/slider03.jpeg");
}

/* Slider Fading & Scaling (Ken Burns Effect) Animation Keyframes */
@-webkit-keyframes slideFadeAndKenBurns {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  5% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  30% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
    background-position: center center;
  }
}
@keyframes slideFadeAndKenBurns {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  5% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  30% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
    background-position: center center;
  }
}


/*** CARDS FLIP **/
.content {
  display: flex;
  margin: 50px auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1000px;
}

.heading {
  width: 100%;
  margin-left: 1rem;
  font-weight: 700;
  font-size: 1.618rem;
  /*text-transform: uppercase;*/
  letter-spacing: 0.1ch;
  line-height: 1;
  padding-bottom: 0.5em;
  margin-bottom: 1rem;
  position: relative;
  color: #111;
}
.heading:after {
  display: block;
  content: "";
  position: absolute;
  width: 60px;
  height: 4px;
  background: linear-gradient(135deg, #1a9be6, #1a57e6);
  bottom: 0;
}

.description {
  width: 100%;
  margin-top: 0;
  margin-left: 1rem;
  margin-bottom: 3rem;
}

.card {
  color: inherit;
  cursor: pointer;
  width: calc(33% - 2rem);
  min-width: calc(33% - 2rem);
  height: 400px;
  min-height: 400px;
  perspective: 1000px;
  margin: 1rem;
  position: relative;
  background-color: #e6e6fa5f !important;
  
}
@media screen and (max-width: 800px) {
  .card {
    width: calc(50% - 2rem);
  }
}
@media screen and (max-width: 500px) {
  .card {
    width: 100%;
  }
}

.front,
.back {
  display: flex;
  border-radius: 6px;
  background-position: center;
  background-size: cover;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: ease-in-out 600ms;
}

.front {
  background-size: cover;
  padding: 2rem;
  font-size: 1.618rem;
  font-weight: 600;
  color: #fff;
  overflow: hidden;
  font-family: Poppins, sans-serif;
}
.front:before {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(135deg, #1a9be6, #1a57e6);
  opacity: 0.25;
  z-index: -1;
}
.card:hover .front {
  transform: rotateY(180deg);
}
.card:nth-child(even):hover .front {
  transform: rotateY(-180deg);
}

.back {
  background: #fff;
  transform: rotateY(-180deg);
  padding: 0 2em;
}
.back .button {
  background: linear-gradient(135deg, #1a9be6, #1a57e6);
}
.back .button:before {
  box-shadow: 0 0 10px 10px rgba(26, 87, 230, 0.25);
  background-color: rgba(26, 87, 230, 0.25);
}
.card:hover .back {
  transform: rotateY(0deg);
}
.card:nth-child(even) .back {
  transform: rotateY(180deg);
}
.card:nth-child(even) .back .button {
  background: linear-gradient(135deg, #e61a80, #e61a3c);
}
.card:nth-child(even) .back .button:before {
  box-shadow: 0 0 10px 10px rgba(230, 26, 60, 0.25);
  background-color: rgba(230, 26, 60, 0.25);
}
.card:nth-child(even):hover .back {
  transform: rotateY(0deg);
}

.button {
  transform: translateZ(40px);
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  font-weight: bold;
  color: #fff;
  padding: 0.5em 1em;
  border-radius: 100px;
  font: inherit;
  border: none;
  position: relative;
  transform-style: preserve-3d;
  transition: 300ms ease;
}
.button:before {
  transition: 300ms ease;
  position: absolute;
  display: block;
  content: "";
  transform: translateZ(-40px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  border-radius: 100px;
  left: 10px;
  top: 16px;
}
.button:hover {
  transform: translateZ(55px);
}
.button:hover:before {
  transform: translateZ(-55px);
}
.button:active {
  transform: translateZ(20px);
}
.button:active:before {
  transform: translateZ(-20px);
  top: 12px;
}